.json-pretty
  background: #ffffff
  line-height 1.5
  color #1d2426

  .json-key
    color #d81344

  .json-value
    color #0d7c1e

  .json-string
    color #0e5459

  .json-boolean
    color #5f6053